* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial;
}

input {
    margin: 12%;
    border: 0;
    border-bottom:.1rem solid rgba(0,0,0,0.44) ;
    width: 400px;
    font-size: 18px;
}

#titulo {
    font-size: 25px;
    color: #fff;
    background-color: #454545;
    padding: .8rem;
    border-radius: .4rem;
}

button {
    background-color: transparent;
    padding: .8rem 1rem;
    font-weight: bold;
    border: .1rem solid transparent;
    font-size: 15px;
    border-radius: .4rem;
    cursor: pointer;
    box-shadow: .1rem .4rem .2rem rgb(214, 204, 204);
    margin-bottom: 8%;

}

#demo {
    border: .1rem solid rgba(0,0,0,0.44);
    padding: 15px;
    font-size: 1.7rem;
    color: #FF3000;
    border-radius: .4rem;
    margin: 15px;
}